<md-toolbar class="navBar">
  <span class="navLink"><a routerLink="/">Epicodus Club</a></span>
  <span class="example-fill-remaining-space"></span>
  <span class="navLink"><a routerLink="about">About</a></span>
  <span class="navLink"><a routerLink="student-list">Students</a></span>
</md-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <p><a class="text-muted" routerLink="admin">Admin</a></p>
    <p class="text-muted">Copyright &copy; Caitlin Ashtari 2017</p>
  </div>
</footer>
