<div class="container panel">
  <div class="panel-heading">
    <h3>Add Student to Epicodus</h3>
  </div>

  <div class="panel-body">
    <div [ngClass]="{'has-error':!form.controls['firstname'].valid && form.controls['firstname'].touched}">
      <label>First Name:</label>
      <br>
      <input #newFirstName [formControl]="form.controls['firstname']">
    </div>

    <div [ngClass]="{'has-error':!form.controls['lastname'].valid && form.controls['lastname'].touched}">
      <label>Last Name:</label>
      <br>
      <input #newLastName [formControl]="form.controls['lastname']">
    </div>

    <div [ngClass]="{'has-error':!form.controls['track'].valid  && form.controls['track'].touched}">
      <label>Track:</label>
      <br>
      <input #newTrack [formControl]="form.controls['track']">
    </div>

    <div [ngClass]="{'has-error':!form.controls['currentlanguage'].valid && form.controls['currentlanguage'].touched}">
      <label>Current Language:</label>
      <br>
      <input #newCurrentLanguage  [formControl]="form.controls['currentlanguage']">
    </div>

    <div [ngClass]="{'has-error':!form.controls['currentlevel'].valid && form.controls['currentlevel'].touched}">
      <label>Current Level:</label>
      <br>
      <input #newCurrentLevel [formControl]="form.controls['currentlevel']">
    </div>

    <div [ngClass]="{'has-error':!form.controls['treehousepoints'].valid && form.controls['treehousepoints'].touched}">
      <label>Treehouse Points:</label>
      <br>
      <input #newTreehousePoints [formControl]="form.controls['treehousepoints']">
    </div>
    <button class="btn" [disabled]="!form.valid" (click)="submitForm(newFirstName.value, newLastName.value, newTrack.value, newCurrentLanguage.value, newCurrentLevel.value, newTreehousePoints.value); newFirstName.value=null; newLastName.value=null; newTrack.value=null; newCurrentLanguage.value=null; newCurrentLevel.value=null; newTreehousePoints.value=''">Add</button>
  </div>
</div>

<div class="editContainer">
  <app-student-list></app-student-list>
</div>
