<div class="container panel panel-default">
  <div class="panel-heading">
    <h3>Add Student to Epicodus</h3>
  </div>

  <div class="panel-body">
    <div>
      <label>First Name:</label>
      <br>
      <input #newFirstName [formControl]="form.controls['firstname']">
    </div>

    <div>
      <label>Last Name:</label>
      <br>
      <input #newLastName [formControl]="form.controls['lastname']">
    </div>

    <div>
      <label>Track:</label>
      <br>
      <input #newTrack ngModel required>
    </div>

    <div>
      <label>Current Language:</label>
      <br>
      <input #newCurrentLanguage ngModel required>
    </div>

    <div>
      <label>Current Level:</label>
      <br>
      <input #newCurrentLevel ngModel pattern="[A-Za-z]">
    </div>

    <div>
      <label>Treehouse Points:</label>
      <br>
      <input #newTreehousePoints ngModel required>
    </div>
    <button [disabled]="!form.valid" (click)="submitForm(newFirstName.value, newLastName.value, newTrack.value, newCurrentLanguage.value, newCurrentLevel.value, newTreehousePoints.value); newFirstName.value=''; newLastName.value=''; newTrack.value=''; newCurrentLanguage.value=''; newCurrentLevel.value=''; newTreehousePoints.value=''">Add</button>
  </div>
</div>

<div class="editContainer">
  <app-student-list></app-student-list>
</div>
